SPRING_PROFILES_ACTIVE=dev

# Database (RDS)
DB_URL=
DB_USERNAME=
DB_PASSWORD=

# JWT
JWT_SECRET=
JWT_EXPIRATION=

# Master account
MASTER_USERNAME=
MASTER_PASSWORD=
MASTER_NICKNAME=
MASTER_EMAIL=

# CORS
CORS_ALLOWED_ORIGINS=

# Local test (docker-compose)
LOCAL_TEST_APP_PORT=
LOCAL_TEST_DB_PORT=
